.center {
  text-align: center;
  border: 3px solid green;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 18px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #04AA6D;
}

li .logo-image{
  width: 150px;
  height: 100px; 
}
li .logo-image .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}